
// Global
:focus {
  outline: 0px;
}

input[type='file'] {
  display: none;
}

// Inputs and Selects
.text_input {
  border-radius: 18px;
  height: 36px;
  display: inline-block;
  box-sizing: border-box;
  width: 200px;
  padding-left: 10px;
  font-size: 16px;
  &::placeholder {
    font-size: 14px;
    color: $lightGray;
  }
  border: 1px solid rgba(0,0,0,0);
  background-color: white;
  box-shadow: 0px 0px 2px 1px #AEAEAE;
}
.calendar_input {
  box-sizing: border-box;
  border-radius: 18px;
  border: 1px solid $lightGray;
  color: $darkBlue;
  height:36px;
  background-color: rgba(0, 0, 0, 0);
  width:130px;
  padding-left: 8px;
  padding-right: 30px;
  background-image: url("../img/calendar_light.svg");
  background-position: calc(100% - 10px) 50%;
  background-repeat: no-repeat;
  background-size: 16px auto;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0);
  background-color: white;
  box-shadow: 0px 0px 2px 1px #AEAEAE;
}
.basic_select {
  width: 200px;
}
.basic_select.short {
  width: 100px;
}
.number_input {
  background-color: rgba(0,0,0,0);
  border: 1px solid $lightGray;
  border-radius: 18px;
  height: 36px;
  display: inline-block;
  box-sizing: border-box;
  width: 80px;
  text-align: center;
  font-size: 16px;
  &::placeholder {
    font-size: 14px;
    color: $lightGray;
  }
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
  border: 1px solid rgba(0,0,0,0);
  background-color: white;
  box-shadow: 0px 0px 2px 1px #AEAEAE;
}

.number_input_plus, .number_input_minus {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 0px 6px $shadowColor;
  margin: 5px;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: $lightBlue;
  user-select: none;
}

.select2-results__option[aria-selected=true] {
    display: none;
}


.select2_channel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  img {
    height: 20px;
    width: auto;
    margin-right: 5px;
  }
}
.select2_color {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .select2_color_preview {
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }
}

.textarea_input {
  width: 70%;
  min-width: 200px;
  min-height: 100px;
  border: 1px solid $lightGray;
  border-radius: 5px;
  padding: 5px;
  color: $darkBlue;
  background-color: rgba(0,0,0,0);
}

// Floating

.floating-label label {
  font-size:  14px;
  color:  $lightGray;
  opacity: 0.8;
}
.floating-label {
  position:  relative;
  label {
    position:  absolute;
    top: 0;
    left:  0;
    opacity:  0;
    transition:  all 0.3s ease;
  }
  input:not(:placeholder-shown) + label {
    transform:  translateY(-35px);
    opacity:  0.9;
  }
}

// Files

.image_input_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;
}
.image_input_image {
  max-height: 100px;
  max-width: 300px;
}
.image_input_cancel {
  color: $lightGray;
  margin-top: 3px;
  font-size: 14px;
  cursor: pointer;
}

// Buttons
.order {
  margin-left: 5px;
  width: 26px;
  height: auto;
  cursor: pointer;
}
.order.asc {
  content: $order_asc;
  &:hover {
    content: $order_asc_hovered;
  }
}
.order.desc {
  content: $order_desc;
  &:hover {
    content: $order_desc_hovered;
  }
}
.filter_button {
  height: 24px;
  width: 24px;
  content: $filter_button;
  &:hover {
    content: $filter_button_hovered;
  }
}
.filter_button.active {
  content: $filter_button_hovered;
}
.confirm_button {
  box-sizing: border-box;
  border: 0px;
  border-radius:20px;
  text-align: center;
  height: 40px;
  width: 105px;
  font-weight: bold;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
  background-color: $lightBlue;
  color: white;
  &:hover {
    background-color: $lightBlueHover;
  }
  box-shadow: 0px 0px 6px $lightBlue;
}
.cancel_button {
  box-sizing: border-box;
  border: 0px;
  border-radius:20px;
  text-align: center;
  height: 40px;
  width: 105px;
  font-weight: bold;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
  background-color: $navColor;
  box-shadow: 0px 0px 6px $shadowColor;
  color: $lightBlue;
  &:hover {
    background-color: $backgroundColor;
  }
}
.add_button {
  box-sizing: border-box;
  border: 0px;
  border-radius:50%;
  text-align: center;
  height: 40px;
  width: 40px;
  font-size: 24px;
  cursor: pointer;
  background-color: $lightBlue;
  color: $navColor;
  box-shadow: 0px 0px 6px $shadowColor;
}

// Loader

.button_loader {
  pointer-events: none;
  position: relative;
}
.confirm_button.button_loader::after {
  content: "";
  border: 2px solid $shadowColor;
  border-top: 2px solid $lightBlue;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -12px;
  margin-left: 5px;
}


// Checkboxes and Switches
.custom_checkbox {
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 5px;
  width:16px;
  height:16px;
  box-shadow: 0px 0px 2px 1px $checkboxShadowColor;
  border-radius:3px;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox_value {
  content: "";
}
.checkbox_value.checked {
  width: 12px;
  height: 12px;
  content: $checkboxChecked;
}
.custom_radio {
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 5px;
  width:16px;
  height:16px;
  box-shadow: 0px 0px 3px 1px $checkboxShadowColor;
  border-radius:50%;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio_value {
  pointer-events: none;
  width:0%;
  height:0%;
  border-radius: 50%;
  background-color: $lightBlue;
  transition-property: width, height;
  transition-duration: 0.07s;
}
.radio_value.checked {
  width:10px;
  height:10px;
}

.switch_button {
  flex-shrink: 0;
  flex-grow: 0;
  background-color: rgba(0,0,0,0);
  height:21px;
  width:34px;
  border-radius:10px;
  box-sizing: border-box;
  border: 2px solid $lightBlue;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2px;
  padding-right: 1px;
  cursor: pointer;
  margin-left: 3px;
  margin-right: 3px;

}
.switch_slider {
  pointer-events: none;
  margin-left: 0px;
  height:13px;
  width: 13px;
  background-color: $lightBlue;
  border-radius: 50%;
  transition: margin-left 0.2s, background-color 0.2s;
}
.switch_slider.switch_off {
  margin-left: 13px;
}
.switch_button_red > .switch_slider.switch_off {
  background-color: $canceledColor;
}
.yes_label {
  color: $confirmedColor;
}
.no_label {
  color: $canceledColor;
}

// List settings
.list_settings {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  > input, > span, > div, > button {
    margin-left: 20px;
  }
  padding-left: 20px;
  padding-right: 40px;
  .label {
    color: $lightGray;
    margin-right: 7px;
  }
}
